* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  box-sizing: border-box;
}

body {
    font-family: 'Patua One', cursive;
}

.main-nav-section {
  background: red;
}

.nav-items-section {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  align-items: center;
  list-style: none;
  color: #fff;
  font-weight: bold;
}

.nav-items img {
  width: 60%;
  height: auto;
  padding-top: 20px;
}